<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/5GWebApi-Internal-Logs.txt">

    <targets>
        <target xsi:type="File" name="ownFile-web" fileName="../../../logs/5GWebApi-${shortdate}.log">
            <layout xsi:type="JsonLayout" includeEventProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="event" layout="${event-properties:item=EventId:whenEmpty=0}"/>
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}"/>
                <attribute name="url" layout="${aspnet-request-url}" />
                <attribute name="action" layout="${aspnet-mvc-action}" />
                <attribute name="callsite" layout="${callsite}" />
            </layout>
            <when condition="level >= LogLevel.Error" action="Log" />
        </target>
        
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="ownFile-web" />
    </rules>
</nlog>